.userInfo {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    'avatar profileInfo'
    'uploadAvatar profileInfo';
    gap: 10px;
}

.profileAvatar {
    grid-area: avatar;
    /* align-self: center; */
    /* justify-self: center;  */
}

.profile{
    grid-area: profileInfo;
    padding-left: 10px;
}

.uploadInput {
    grid-area: uploadAvatar;
    /* justify-self: center;  */
    padding: 10px;
}

.contact {
    padding-left: 20px;
}
